<html>

  <head>
    <title> Sinatra Man Pages </title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  </head>

  <body>

    <a class='home-button' href='/'> Take me home </a>
    <a class='google' href='http://google.com' target='_blank'> To Google </a>
    <ol>
      <li><a href='/mv'>MV</a></li>
      <li><a href='/cp'>CP</a></li>
      <li><a href='/mkdir'>MKDIR</a></li>
      <li><a href='/touch'>TOUCH</a></li>
      <li><a href='/ls'>LS</a></li>
      <li><a href='/search'>Search</a></li>
    </ol>

    <!-- <form>
      <input placeholder='do something here'</input>
    </form> -->

    <%= yield %>

  </body>

</html>
